node-linker=hoisted
resolve-peers-from-workspace-root=true
auto-install-peers=true
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=@react-native-community/cli-platform-android*
public-hoist-pattern[]=@react-native-community/cli-platform-ios*
